<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RutaRabbit" value="http://10.212.134.200" />
    <add key="UserID" value="vulkano" />
    <add key="Pwd" value="vulkano01" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>